h1(style="color: blue") Vista de Productos

if products
    table.table.table-striped.table-bordered
        thead
            tr
                th#title
                th#price
                th#thumbnail
        tbody
            each product in products
                tr
                    td#title=product.title
                    td#price=product.price
                    td
                        img(src=product.thumbnail width="100" height="100")
else 
    h3 No hay productos

a(href="/") Volver al formulario