<h2>Vista de Productos</h2>
<br />

<% if(products && products.length > 0){ %>
<div class="table-responsive">
  <table class="table table-dark">
    <tr style="color: yellow">
      <th>Titulo</th>
      <th>Precio</th>
      <th>Miniatura</th>
    </tr>
    <% for (const product of products) {%>
    <tr>
      <td><%=product.title %></td>
      <td>$<%=product.price %></td>
      <td>
        <img src="<%=product.thumbnail %>" width="60px" height="60px" />
      </td>
    </tr>
    <% } %>
  </table>
</div>
<% } else { %>
<h3 class="alert alert-danger">No hay productos</h3>
<% } %>

<a href="/" class="btn btn-primary mt-3 mb-5">Formulario</a>
